<% content_for :title, "IRA" %>

<!-- Header Image & Text -->

<div class="...">
    <div class="...">
        <h1 class="..."> Incident Report Application </h1>
        <h2 class="..."> Easier, Better, Collaborative Incident Reporting. </h2>
	</div>
</div>

<a href="/report">Reports</a>

<!-- .... -->