<% content_for :title, "IRA" %>

<!-- Header Text -->

<div class="...">
    <div class="..." style="text-align: center; margin-top: 100px;">
        <h1 class="..."> Incident Report Application </h1>
        <h2 class="..."> Easier, Better, Collaborative Incident Reporting. </h2>
	</div>
</div>