<table class="...">
  <tbody>
    <% @reports.each do |report| %> 

      <tr> 
        <td> <a class="report_title" href="<%= report.link %>" target="_blank"> <%= report.title %> </a> </td>
      </tr>
      
    <% end %>
  </tbody>
</table>